
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="ChargeLogId">
      <th mat-header-cell *matHeaderCellDef> Log Id </th>
      <td mat-cell *matCellDef="let element"> {{element.chargeLogId}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Amount">
      <th mat-header-cell *matHeaderCellDef> Amount </th>
      <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="VehicleId">
      <th mat-header-cell *matHeaderCellDef> Vehicle </th>
      <td mat-cell *matCellDef="let element"> {{element.vehicleId}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="PlazaId">
      <th mat-header-cell *matHeaderCellDef> plaza  </th>
      <td mat-cell *matCellDef="let element"> {{element.plazaId}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
