<div  style="margin-right:1em; font-size:xx-large; font-weight: 700;">
  {{(currentUser?.firstName || ' ') + ' ' + (currentUser?.lastName || ' ')}}
</div >
<div style="font-size:larger; font-weight: 500;">
  ID: {{currentUser?.id || ''}}
</div>
<div style="font-size:larger; font-weight: 500;">
  PHone Number: {{'+234' + (currentUser?.phoneNumber || '')}}
</div>
<div style="font-size:larger; font-weight: 500; ">
  Acccount Balance: <span style="color:green;"> &#x20A6; {{ currentUser?.accountBalance || 0}} </span>
</div>
<div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="10px">
  <div fxFlex="30" class="side-nav">
    <div fxLayout="column" fxLayoutAlign="space-around" fxLayoutGap="20px">
      <div>
        <button style="font-size:1.2em; min-width:100%; height:auto; padding:1.2em;" mat-raised-button color="primary" (click)="dashboardAction = 'rechargeAction'"> recharge now </button>
      </div>
      <div>
        <button style="font-size:1.2em; min-width:100%; height:auto; padding:1.2em;" mat-raised-button color="accent" (click) = "dashboardAction = 'editProfile'"> edit profile </button>
      </div>
      <div>
        <button style="font-size:1.2em; min-width:100%; height:auto; padding:1.2em;" mat-raised-button color="warn" (click) = "dashboardAction = ''">  view transaction history </button>
      </div>
    </div>
  </div>
  <div fxFlex="70">
    <span [ngSwitch]="dashboardAction">
      <p *ngSwitchCase="'rechargeAction'">
        <app-recharge></app-recharge>
      </p>
      <p *ngSwitchCase="'editProfile'">
        <app-edit-profile></app-edit-profile>
      </p>
      <p *ngSwitchDefault>
        <app-transaction-history></app-transaction-history>
      </p>
      </span>
  </div>
</div>

<h3 style="margin:1em; text-align:center;"> User Vehicle Data</h3>
<table mat-table [dataSource]="datasource" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="VehicleId">
    <th mat-header-cell *matHeaderCellDef> id </th>
    <td mat-cell *matCellDef="let element"> {{element.vehicleId}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="PlateNumber">
    <th mat-header-cell *matHeaderCellDef> Plate Number </th>
    <td mat-cell *matCellDef="let element"> {{element.plateNumber}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="TagNumber">
    <th mat-header-cell *matHeaderCellDef> Tag Number </th>
    <td mat-cell *matCellDef="let element"> {{element.tagNumber}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="VehicleName">
    <th mat-header-cell *matHeaderCellDef> Vehicle Name </th>
    <td mat-cell *matCellDef="let element"> {{element.vehicleName}} </td>
  </ng-container>
  <ng-container matColumnDef="VehicleType">
    <th mat-header-cell *matHeaderCellDef> Vehicle Type </th>
    <td mat-cell *matCellDef="let element"> {{element.vehicleType}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


